# Configurações do Banco de Dados
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# String de conexão completa para o Entity Framework
CONNECTION_STRING="Host= ;Port= ;Database= ;Username= ;Password= "