# --- Arquivos Temporários e de Sistema ---
*.swp
*.*~
.DS_Store
*.pyc
nupkg/

# --- Banco de Dados Local (SQLite) ---
# Se você quiser que o banco NÃO suba para o GitHub, mantenha a linha abaixo:
*.db
*.db-journal
*.db-shm
*.db-wal

# --- Visual Studio Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- JetBrains (Rider / IntelliJ) ---
.idea/

# --- Visual Studio ---
.vs/
[Vv]s/
*.suo
*.user
*.userosscache
*.sln.docstates
*.patch
*.diff

# --- Build e Resultados (O mais importante para .NET) ---
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
Bin/
bin/
obj/
Obj/
Out/
out/
[Bb]in/
[Oo]bj/
publish/

# --- Logs e Erros ---
msbuild.log
msbuild.err
msbuild.wrn
*.log

# --- Dependências de Pacotes ---
project.lock.json
project.assets.json
node_modules/

# --- Arquivos de Configuração Sensíveis (Segredos) ---
# Nunca suba arquivos com senhas ou chaves de API
appsettings.Development.json
*.usersecrets

# --- variaveis locais .env ---
.env